doctype html
html(lang="en")
  head
    title #{meta.title}

    if meta.description
      meta(name="description" content=meta.description)

    link(rel="shortcut icon" href="/favicon.ico")

    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")

    style(type="text/css")
      include styles/reset.css
      include styles/style.css

    if background
      style(type="text/css").
        body {
          background: url(#{background}) no-repeat center center;
          background-size: cover;
        }

    if style
      style(type="text/css").
        #{style}

  body
    .container
      .content
        if logo
          img.logo(src=logo)

        h1.title !{title}
        .text
          p !{description}

    if livereloadPort
      script.
        document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] +
                ':#{livereloadPort}/livereload.js?snipver=1"></' + 'script>')
